* {
	/*border:1px black solid;*/
}

html, body { 
    height:100%;
    width:100%;
    position:inline;
    margin:0;
    padding: 0;
    margin: 0;
}

img {
	margin-right:10px;
	float:left;
}

img#emblema {
	height: 50px;
}

#header {
	margin-top:2px;
	padding:10px;
	width:380px;
	height:60px;
	padding-bottom:0;
	position: absolute;
	margin-left: 60px;
	z-index:1;
	background-color:rgba(255,255,255,0.8);
}

#headerright {
	float:left;
	width:calc(100% - 50px);
	height:auto;
	margin:0px;
}

#byk1wi {
	display:inline;
	font-family:Arial;
	font-size: 10px;
	color:grey;
}

a {
	color:black;
}
#byk1wi a {
	color:grey;
}

#logo {
	display:inline;
	margin:0px;
	padding:0px;
}

#txtlogo1 {
	font-size:25px;
	font-family:Lobster;
	margin:0px;
	padding:0px;
}

#txtlogo2 {
	color:blue;
	font-size:30px;
	margin:0px;
	padding:0px;
}

#lema {
	font-family:Arial;
	font-size: 10px;
}

#map { 
	position: absolute;
	height:100%;
	width:100%;
}

#selector {
	position:relative;
	overflow:auto;
	padding:5px;
	margin-top:5px;
	max-height:calc(100% - 80px);
	float:right;
	width:170px;
	font-size:12px;
	padding:5px;
	font-family:Arial;
	z-index:1;
	background-color:rgba(255,255,255,0.8);
	clear: both;
}

#mostrar {
	font-size:12px;
	padding:5px;
	font-family:Arial;
	position:relative;
	z-index:1;
	background-color:rgba(255,255,255,0.8);
	position: relative;
	margin-top: 20px;
	float:right;
}

ul {
	list-style-type:none;
	padding:0;
	margin: 0px;
}

.leyenda_text {
	display:inline;
	margin-left:2px;
}

.maxspeed {
	display:inline;
	margin: 0;
	padding: 2px;
	border: 3px red solid;
	border-radius: 100%;
	font-weight: bold;
}

.boton {
	border:3px solid;
	border-radius: 100%;
	padding:2px;
	width:4px;
	height:4px;
	border-color:#ffffff;
	background-color:#ffffff;
	display:inline-block;
}

.linea {
	border:2px solid;
	margin-bottom: 2px;
	padding: 0px 2px 0px 2px;
	width:4px;
	height:0px;
	background-color: #000000;
	display:inline-block;
	border-color:#00ffff;
}
#ViaTodo {
	border-color:#0000ff;
}
#ViaNoMaxspeed {
	border-color:#ffff00;
}
#ViaNoLanes {
	border-color:#ff8d00;
}
#ViaNoMaxspeedNoLanes {
	border-color:#D430AB;
}
line {
    stroke: blue;
    stroke-width: 4px;
}
#ViaConstruccion {
	border-color:#000000;
}
#ViaProyecto {
	border-color:#82858a;
}

.code {
	font-family:Courier, monospace;
}

.feedback {
	color:grey;
}

div.senal {
	margin:0px;
	display:block;
	position:static;
	width:calc(100% - 6px);
	background-color:#19408b;
	border: white 3px solid;
	color: white;
	font-family: TrafficTypSpaD;
	border-radius:10px;
	font-size: 15px;
}

div.senalElem {
	width:calc(100% - 20px);
	min-width:150px;
	margin:2px;
	padding: 5px;
}

div.senalReferencia {
	color: white;
	display: inline-block;
	font-family: TrafficTypSpaD;
	font-size: 12px;
	border-color: white;
	border-width:1px;
	background-color:red;
	padding:0px;
	margin:2px;

}

div#ref {
	text-align: right;
}

div.alltags {
	font-family:Courier, monospace;
	font-size: 10px;
	display:none;
}

div.mostrar {
	font-family:Courier, monospace;
	font-size: 10px;
	background-color: #DEDEDE;
	display: inline-block;
	border-radius: 2px;
	padding: 0px 5px 0px 5px;

}

img.link {
	display:inline;
	float: none;
	margin:0px;
}

a#getpermalink {
	display: inline-block;
}