#header {
	padding:10px;
	width:90%;
	height:105px;
	padding-bottom:0;
}

#headerright {
	float:left;
	width:80%;
	height:auto;
	margin:0px;
}

#byk1wi {
	display:inline;
	font-family:Arial;
	font-size: 10px;
	color:grey;
}

#map { 
	margin:10px;
	clear:all;
	height: calc(100% - 130px) ;
}

#selector {
	margin:2px;
	float:left;
	width:160px;
	font-size:12px;
	padding:5px;
	font-family:Arial;
}

ul {
	list-style-type:none;
	padding:0;
}

.leyenda_text {
	display:inline;
	margin-left:2px;
}