* {
	/*border:1px black solid;*/
}

html { 
    height:100%;
    width:100%;
    position:inline;
    margin:0;
}

body { 
    height:100%;
    width:100%;
    position:inline;
    margin:0;
}

#header {
	padding:10px;
	width:90%;
	height:105px;
	padding-bottom:0;
}

img#emblema {
	margin-right:10px;
	float:left;
}

#headerright {
	float:left;
	width:80%;
	height:auto;
	margin:0px;
}

#logo {
	display:inline;
}

#txtlogo1 {
	font-size:25px;
	font-family:Lobster;
}

#txtlogo2 {
	color:blue;
	font-size:30px
}

#lema {
	font-family:Arial;
}

#byk1wi {
	display:inline;
	font-family:Arial;
	font-size: 10px;
	color:grey;
}

#byk1wi a {
	color:grey;
}

#map { 
	margin:10px;
	clear:all;
	height: calc(100% - 130px) ;
}

.maxspeed {
	display:inline;
	margin: 0;
	padding: 2px;
	border: 3px red solid;
	border-radius: 100%;
	font-weight: bold;
}

#selector {
	margin:2px;
	float:left;
	width:160px;
	font-size:12px;
	padding:5px;
	font-family:Arial;
}

ul {
	list-style-type:none;
	padding: 0;
}

.boton {
	border:2px solid;
	border-radius: 100%;
	padding: 2px;
	width:4px;
	height:4px;
	background-color: #000000;
	display:inline-block;

}
.leyenda_text {
	display:inline;
	margin-left:2px;
}
#Peaje {
	border-color:#0000ff;
}
#SalRefExitTo {
	border-color:#00ff00;
}
#SalRefName {
	border-color:#00ffff;
}
#SalRef {
	border-color:#ff8800;
}
#SalNoRef {
	border-color:#ff0000;
}

.linea {
	border:2px solid;
	margin-bottom: 2px;
	padding: 0px 2px 0px 2px;
	width:4px;
	height:0px;
	background-color: #000000;
	display:inline-block;
	border-color:#00ffff;
}
#via_todo {
	border-color:#0000ff;
}
#via_falta_algo {
	border-color:#ffff00;
}
#via_no_name {
	border-color:#ff0000;
}
#via_construccion {
	border-color:#000000;
}
#via_proyecto {
	border-color:#82858a;
}

.code {
	font-family:Courier, monospace;
}

#feedback {
	color:grey;
	margin-bottom:10px;
}

.botondesactivado {
	background-color:#b7c3c2;
	border-width:0;
	margin:2px;
}