* {
	/*border:1px black solid;*/
}

html { 
    height:100%;
    width:100%;
    position:inline;
    margin:0;
}

body { 
    height:100%;
    width:100%;
    position:inline;
    margin:0;
}

#header {
	padding:10px;
	width:90%;
	height:105px;
	padding-bottom:0;
}

img {
	margin-right:10px;
	float:left;
}

#headerright {
	float:left;
	width:80%;
	height:auto;
	margin:0px;
}

#logo {
	display:inline;
}

#txtlogo1 {
	font-size:25px;
	font-family:Lobster;
}

#txtlogo2 {
	color:blue;
	font-size:30px
}

#lema {
	font-family:Arial;
}

#byk1wi {
	display:inline;
	font-family:Arial;
	font-size: 10px;
	color:grey;
}

#byk1wi a {
	color:grey;
}

#map { 
	margin:10px;
	clear:all;
	height: calc(100% - 130px) ;
}

.maxspeed {
	display:inline;
	margin: 0;
	padding: 2px;
	border: 3px red solid;
	border-radius: 100%;
	font-weight: bold;
}

#selector {
	margin:2px;
	float:left;
	width:160px;
	font-size:12px;
	padding:5px;
	font-family:Arial;
}

ul {
	list-style-type:none;
	padding: 0;
}

.boton {
	border:3px solid;
	border-radius: 100%;
	padding: 2px;
	width:4px;
	height:4px;
	border-color:#ffffff;
	background-color:#ffffff;
	display:inline-block;
}

.leyenda_text {
	display:inline;
	margin-left:2px;
}

.linea {
	border:2px solid;
	margin-bottom: 2px;
	padding: 0px 2px 0px 2px;
	width:4px;
	height:0px;
	background-color: #000000;
	display:inline-block;
	border-color:#00ffff;
}
#ViaTodo {
	border-color:#0000ff;
}
#ViaNoMaxspeed {
	border-color:#ffff00;
}
#ViaNoLanes {
	border-color:#ff8d00;
}
#ViaNoMaxspeedNoLanes {
	border-color:#D430AB;
}
#ViaNoName {
	border-color:#ff0000;
}
#ViaConstruccion {
	border-color:#000000;
}
#ViaProyecto {
	border-color:#82858a;
}

.code {
	font-family:Courier, monospace;
}

#feedback {
	color:grey;
	margin-bottom:10px;
}

.botondesactivado {
	background-color:#b7c3c2;
	border-width:0;
	margin:3px;
}